* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* Index Section */

#aboutMe {
  display: flex;
  justify-content: center;
}

#aboutMe .container-md {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
  display: inline;
  background-color: #abcabc;
  margin: 30px;
  padding: 20px;
}

#aboutMe .profilePic {
  float: left;
  border: 1px solid black;
  border-radius: 20%;
  margin: 10px;
  margin-right: 25px;
}

#aboutMe .aboutMeHeader {
  color: #ffffff;
  font-size: 35px;
  border-bottom: 2px dotted white;
  margin-bottom: 25px;
}

/* Resume Section */
#resume {
  display: flex;
  justify-content: center;
}

#resume .container-md {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  background-color: #abcabc;
  margin: 30px;
  padding: 20px;
}

#resume .resumeHeader {
  color: #ffffff;
  font-size: 35px;
  border-bottom: 2px dotted white;
  margin-bottom: 25px;
}

#resume .educationTitle,
#resume .workExprienceTitle {
  font-size: 25px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#resume .workExprience {
  padding-top: 30px;
}

#resume .educationHeader,
#resume .workExprienceHeader {
  display: flex;
  justify-content: space-between;
}

#resume .educationHeaderAdd,
#resume .workExprienceHeaderAdd {
  text-align: right;
}

/* Portfolio Section */
#portfolio .col-sm {
  position: relative;
  text-align: center;
  background-color: #abcabc;
  margin-top: 30px;
}

#portfolio img {
  position: block;
  height: 350px;
  width: 350px;
  margin: 25px;
  border: 1px solid black;
  border-radius: 5%;
}

#portfolio .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  background-color: #abcabc;
}

#portfolio .col-sm:hover .overlay {
  opacity: 90%;
}

#portfolio .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Conatct Section */
#contact {
  display: flex;
  justify-content: center;
}

#contact .container-md {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  background-color: #abcabc;
  margin: 30px;
  padding: 20px;
}

#contact .contactHeader {
  color: #ffffff;
  font-size: 35px;
  border-bottom: 2px dotted white;
  margin-bottom: 25px;
}

#contact #contactInputBox {
  text-align: center;
}

#contact #contactInputBox > * {
  margin: 8px 0px;
}

#contact #contactInputBox > input {
  width: 250px;
}

#contact #contactInputBox > textarea {
  width: 250px;
  height: 300px;
}

/* SNS Icons */
i {
  margin: 0px 5px;
  color: white;
}

i:hover {
  color: hotpink;
}
